SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""
NEXT_PUBLIC_fullName=""
NEXT_PUBLIC_name=""
NEXT_PUBLIC_workplace=""
NEXT_PUBLIC_workplace2=""
NEXT_PUBLIC_domain1=""
NEXT_PUBLIC_domain2=""