---
export const prerender = true;
import BlogSkeleton from "../../components/blog/BlogSkeleton.astro";
import AppLayout from "../../layouts/app/AppLayout.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import { SITE_TITLE } from "../../consts";
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPosts from "../../components/blog/BlogPosts.svelte";
import { type GetImageResult } from "astro";
import { getImage } from "astro:assets";

// Load blog posts
const allPosts: CollectionEntry<"blog">[] = await getCollection("blog");

const slugsToImage: { [slug: string]: GetImageResult } = {};

await Promise.all(
    allPosts.map(async (post) => {
        if (!post.data.heroImage) return;
        slugsToImage[post.id] = await getImage({
            src: post.data.heroImage,
            width: 1020,
            height: 510,
        });
    })
);
---

<AppLayout title={`${SITE_TITLE} - Blog`}>
    <PageLayout>
        <h1 class="text-3xl font-bold mb-6 text-zinc-900 dark:text-zinc-100">
            {"Christian's"} Blog
        </h1>
        <p class="text-lg text-zinc-700 dark:text-zinc-300 mb-6">
            Welcome to my public blog! Here you'll find blog posts on various topics, including
            technology, personal experiences, and more.
        </p>
        <BlogPosts client:only="svelte" posts={allPosts} slugsToImage={slugsToImage}>
            <BlogSkeleton slot="fallback" postCount={allPosts.length} />
        </BlogPosts>
    </PageLayout>
</AppLayout>
