---
import Routes from "../../components/app/Routes.svelte";
import AppearanceModeSwitch from "../../components/app/AppearanceModeSwitch.svelte";
---

<header class="flex flex-col items-center w-full">
    <nav class="flex items-center justify-between w-full max-w-2xl px-4 md:px-8 py-8">
        <div class="ml-0">
            <Routes client:load currentPath={Astro.url.pathname} />
        </div>
        <AppearanceModeSwitch client:load />
    </nav>
</header>
