---
import LoadingSpinner from "./LoadingSpinner.astro";
---

<div class="flex flex-row items-center mb-2 space-x-0 sm:space-x-2 w-full px-5 pb-2 sm:pb-0 sm:px-0">
    <div class="flex flex-row items-center">
        <LoadingSpinner />
        <div class="inline-flex flex-col sm:flex-row w-full max-w-full truncate ml-2">
            <p class="text-zinc-800 dark:text-zinc-200 font-medium">Not Playing</p>
            <span class="mx-2 text-zinc-500 dark:text-zinc-300 hidden sm:flex"> – </span>
            <p class="text-zinc-500 dark:text-zinc-300 max-w-max truncate">Spotify</p>
        </div>
    </div>
</div>
