---
import LoadingSpinner from "./LoadingSpinner.astro";
---

<div class="flex flex-row items-center">
    <LoadingSpinner />
    <div class="inline-flex flex-col sm:flex-row w-full max-w-full truncate ml-2">
        <p class="text-zinc-800 dark:text-zinc-200 font-medium">Not Playing</p>
        <span class="mx-2 text-zinc-500 dark:text-zinc-300 hidden sm:flex"> – </span>
        <p class="text-zinc-500 dark:text-zinc-300 max-w-max truncate">Spotify</p>
    </div>
</div>
