---
import Time from "./Time.svelte";
---

<div
    class="flex flex-row items-center mb-2 space-x-0 sm:space-x-2 w-full px-5 pb-2 sm:pb-0 sm:px-0 md:justify-end"
>
    <div>
        <p
            class="text-black dark:text-zinc-200 text-center"
            title="It refreshes every minute from when you open the page, so it is not real-time"
        >
            Time in Copenhagen is{" "}
            <Time client:only="svelte"
                ><span
                    slot="fallback"
                    class="font-medium tabular-nums text-zinc-400 dark:text-zinc-500 cursor-not-allowed"
                    style="filter: blur(8px); user-select: none;"
                    aria-hidden="true">00:00</span
                ></Time
            >
        </p>
    </div>
</div>
