---

---

<div class="px-4 md:px-0">
	<p class="text-black dark:text-gray-200 mb-10 w-fit text-pretty">
		Software interested lad from Copenhagen,{" "}
		<span class="text-red-500">Denmark</span>
		<br /><br />
		I got a Bachelor{"'"}s Degree in Business Administration and Information Systems from{" "}
		<a
			class="text-cbs hover:underline underline-offset-2"
			href="https://www.cbs.dk/uddannelse/bachelor/hait-erhvervsoekonomi-informationsteknologi"
			target="_blank"
			rel="noopener noreferrer"
		>
			Copenhagen Business School
		</a>{" "}
		<br /><br />
		Experienced with <span class="text-TypeScript">TypeScript</span>,
		<span class="text-csharp">C#</span>,{" "}
		<span class="text-cyan-600 dark:text-React">React</span> and a little bit of{" "}
		<span class="text-cyan-600 dark:text-React">React Native</span> as well. Currently becoming acquainted with <span
			class="text-yellow-600 dark:text-Python">Python</span
		>{" "}
		and Machine Learning.
		<br />
		This website is built with{" "}
		<span class="text-purple-500">Astro</span> and{" "}
		<span class="text-svelte">Svelte</span>, which I{"'"}m becoming familiar with at the moment
		<br /><br />
		I like music of all kinds, cooking, good coffee, beer, design in all forms and mediums, going to festivals, and playing
		video games once in a while {":-))"}
	</p>
</div>
