---
import { SOCIAL_MEDIA } from "../../consts";
import SocialMediaButton from "./SocialMediaButton.astro";

import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import BlueskyIcon from "../icons/BlueskyIcon.astro";
import DiscogsIcon from "../icons/DiscogsIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import SpotifyIcon from "../icons/SpotifyIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
import LastfmIcon from "../icons/LastfmIcon.astro";

const iconMap: Record<string, typeof GitHubIcon> = {
    GitHubIcon,
    LinkedInIcon,
    BlueskyIcon,
    DiscogsIcon,
    InstagramIcon,
    SpotifyIcon,
    DiscordIcon,
    LastfmIcon,
};
---

<div
    class="w-full grid grid-cols-2 justify-items-center md:grid-cols-4 justify-center gap-4 md:gap-x-16 pb-4"
>
    {
        SOCIAL_MEDIA.map((button) => {
            const Icon = button.icon ? iconMap[button.icon] : null;
            return (
                <SocialMediaButton colour={button.colour} link={button.link} js={button.js}>
                    {Icon && <Icon />}
                </SocialMediaButton>
            );
        })
    }
</div>
