---
import { SOCIAL_MEDIA } from "../../consts";
import SocialMediaButton from "./SocialMediaButton.astro";

// Dynamically import icon components
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import BlueskyIcon from "../icons/BlueskyIcon.astro";
import DiscogsIcon from "../icons/DiscogsIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import SpotifyIcon from "../icons/SpotifyIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
import LastfmIcon from "../icons/LastfmIcon.astro";

// Define a more specific type for the icon components
export type IconComponent = typeof GitHubIcon;
type IconMap = Record<string, IconComponent>;

// Create a mapping of icon names to components
const iconComponents: IconMap = {
	GitHubIcon: GitHubIcon,
	LinkedInIcon: LinkedInIcon,
	BlueskyIcon: BlueskyIcon,
	DiscogsIcon: DiscogsIcon,
	InstagramIcon: InstagramIcon,
	SpotifyIcon: SpotifyIcon,
	DiscordIcon: DiscordIcon,
	LastfmIcon: LastfmIcon,
};

const socialMediaButtonsWithIcons = SOCIAL_MEDIA.map((x) => {
	const iconComponent = x.icon && iconComponents[x.icon] ? iconComponents[x.icon] : null;

	return {
		...x,
		iconComponent,
	};
});
---

<div class="w-full flex flex-wrap justify-center gap-4 md:gap-x-16 pb-4">
	{
		socialMediaButtonsWithIcons.map((button) => {
			const Icon = button.iconComponent;
			return (
				<SocialMediaButton colour={button.colour} link={button.link} js={button.js}>
					{Icon && <Icon />}
				</SocialMediaButton>
			);
		})
	}
</div>
