---
import BackArrowIcon from "../icons/BackArrowIcon.astro";
---

<div class="w-full max-w-prose">
    <a
        data-astro-prefetch
        href="/blog"
        class="inline-flex items-center text-zinc-600 dark:text-zinc-400 hover:bg-zinc-200 dark:hover:bg-zinc-800 rounded-lg px-3 py-2 transition-colors duration-300 mb-4"
    >
        <BackArrowIcon />
        Back to Blog
    </a>
</div>
